{% extends "quiz/layout.html" %}
{% load template_filters %}
{% block body %}
    <form method="POST">
        <div class="container">
            {% csrf_token %}
            {{ quiz_form.as_p }}
        </div>
        <div class="container">
                {% csrf_token %}
                {{ question_formset.management_form }}
                {% for question_form in question_formset %}
                    <div class="sub_container">
                        {{ question_form.as_p }}

                        <!-- Access the answer formset for this question -->
                        {% with answer_formset_key=question_form.instance.id|stringformat:"s"|add:"_answer_formset" %}
                            {% with answer_formset=answer_formsets|get_item:answer_formset_key %}
                                {% if answer_formset %}
                                    <div class="sub_container">
                                        {{ answer_formset.management_form }}
                                        {% for answer_form in answer_formset %}
                                            {{ answer_form.as_p }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        {% endwith %}
                    </div>
                {% endfor %}
                <button type="submit" name="submit_quiz">Create Quiz</button>
        </div>
    <form method="POST">
{% endblock %}