{% extends "quiz/layout.html" %}
{% load template_filters %}

{% block body %}
    <h1>Student Dashboard</h1>

    <h2>Not Started Quizzes</h2>
    {% if not_started_quizzes %}
        {% for quiz in not_started_quizzes %}
            <a href="{% url 'quiz:question' quiz.id %}" class="no-style">
                <div class="card" id="button">
                    <div style="width: 50%">
                        <h1>{{ quiz.quiz_name }}</h1>
                        <p>{{ quiz.quiz_description }}</p>    
                    </div>
                    <div style="width: 50%">
                        <p>Due: {{ quiz.due_date }}</p>
                        <p>{{ quiz.question_set.count }} Questions</p>    
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p>No quizzes to start.</p>
    {% endif %}

    <h2>In Progress Quizzes</h2>
    {% if in_progress_quizzes %}
        {% for quiz in in_progress_quizzes %}
            <a href="{% url 'quiz:question' quiz.id %}" class="no-style">
                <div class="card" id="button">
                    <div style="width:50%">
                        <h1>{{ quiz.quiz_name }}</h1>
                        <p>{{ quiz.quiz_description }}</p>    
                    </div>
                    <div style="width:50%">
                        <p>Due: {{ quiz.due_date }}</p>
                        <p>{{ quiz.result_set.count }} out of {{ quiz.question_set.count }} completed</p>    
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p>No quizzes in progress.</p>
    {% endif %}

    <h2>Completed Quizzes</h2>
    {% if completed_quizzes %}
        {% for quiz in completed_quizzes %}
            <a href="{% url 'quiz:results' quiz.id %}" class="no-style">
                <div class="card" id="button">
                    <div style="width: 50%">
                        <h1>{{ quiz.quiz_name }}</h1>
                        <p>{{ quiz.quiz_description }}</p>
                    </div>
                    <div style="width: 50%">
                        <p>{{ quiz.result_set.all|num_correct }} out of {{ quiz.question_set.count }}</p>
                        <p>{{ quiz.result_set.all|num_correct|make_percentage:quiz.question_set.count }}%</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p>No completed quizzes.</p>
    {% endif %}
{% endblock %}